<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en-US" dir="ltr" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Mongo Web Admin</title>
  <%= stylesheet_link_tag :all, :cache => true %>
  <%= javascript_include_tag 'context', 'executor', 'mongodb', 'jquery', 'jquery.dialog', 'jquery.selection', 'jquery.commandInput', 'jquery.inputHistory', 'application', 'console', :cache => true %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="main">
    <div id="menu">
      <select id="database" class="hide"></select>
      <ul>
        <li id="aboutLink">about</li>
        <li id="logoutLink">logout</li>
      </ul>
      <div id="info" class="r"></div>
    </div>
    <%= yield %>
  </div>
<script type="text/javascript">

$(document).ready(function()
{
  context.new('<%=@context.host%>', <%=@context.port%>, <%=@databases.html_safe%>)
  <% if @context.host.blank? -%>
    $('#info').click();
  <% end -%>
  <% unless @context.database.blank? -%>
    $('#database').val('<%=@context.database%>').change();
  <% end -%>
});

</script>
</body>
</html>
